@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px 0px 15px 0px;
    color: white;
    font-family: 'Koulen', sans-serif;
    font-size: 24px;
}

.pages {
    display: flex;
    width: 55%;
    list-style: none;
}

.pages > li {
    margin-right: 40px;
}

.accountType {
    display: flex;
    list-style: none;

}

.accountType > li {
    margin-right: 40px;
}

