@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.topBar {
    background-color: #292929;
    height: 82px;
    font-family: 'Koulen', sans-serif;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
}

.topBar > div {
    display: flex;
    align-items: center;
    position: relative;
    width: 95%;
    height: 100%;
    background-color: #292929;
    padding: 0;
}

.topBar > div > p {
    background-color: #292929;
    color: white;
    font-size: 40px;
}